@using SmarTest.Services.Interfaces
@inherits LayoutComponentBase

@inject IAuthService AuthService

<div class="page">
    @if (AuthService.LoggedInUser != null)
    {
        <div class="sidebar">
            @if (AuthService.LoggedInUser.IsTeacher)
            {
                    <TeacherNavMenu />
            }
            else
            {
                    <StudentNavMenu />
            }
        </div>
    }

    <main>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
